OPENAI_API_KEY=
OPENAI_CHAT_MODEL=gpt-5.6-luna
OPENWEATHER_API_KEY=
OPENAI_EMBEDDING_MODEL=text-embedding-3-small

# LangSmith
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="SKN33_Langchain"

# 웹 검색 Agent Tool API
TAVILY_API_KEY=

# Pinecone Online Vector DB API
PINECONE_API_KEY=
SOMMELIER_PINECONE_INDEX=winemag-review-data

# Neo4j Aura
NEO4J_URI=
NEO4J_USERNAME=
NEO4J_PASSWORD=
NEO4J_DATABASE=
AURA_INSTANCEID=
AURA_INSTANCENAME=

# Kakao Map API
KAKAOMAP_API_KEY=

# huggingface
HF_TOKEN=
HF_DATASET_REPO_ID=